/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  color: #259bf6;
  background-color: #0d97e9;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1,
h2,
h4 {
  color: black;
}
h3 {
  color: #000;
  padding-top: 2px;
}
mat-card {
  width: 100%;
  margin: 50px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}
.mat-mdc-raised-button:not(:disabled) {
  color: #0d97e9;
}
img {
  width: 75%;
  margin: 10px;
  box-shadow: 5px 5px 10px black;
}
.me {
  width: 35%;
  padding: 0%;
}
